src/META-INF/wsdl/localhost_8080/Prova/ProvaWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="ProvaWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/Prova/ProvaWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="allquestao">
<part name="parameters" element="tns:allquestao"/>
</message>
<message name="allquestaoResponse">
<part name="parameters" element="tns:allquestaoResponse"/>
</message>
<message name="createusuario">
<part name="parameters" element="tns:createusuario"/>
</message>
<message name="createusuarioResponse">
<part name="parameters" element="tns:createusuarioResponse"/>
</message>
<message name="consultalternativas">
<part name="parameters" element="tns:consultalternativas"/>
</message>
<message name="consultalternativasResponse">
<part name="parameters" element="tns:consultalternativasResponse"/>
</message>
<message name="createalternativa">
<part name="parameters" element="tns:createalternativa"/>
</message>
<message name="createalternativaResponse">
<part name="parameters" element="tns:createalternativaResponse"/>
</message>
<message name="createquestao">
<part name="parameters" element="tns:createquestao"/>
</message>
<message name="createquestaoResponse">
<part name="parameters" element="tns:createquestaoResponse"/>
</message>
<message name="consultquestao">
<part name="parameters" element="tns:consultquestao"/>
</message>
<message name="consultquestaoResponse">
<part name="parameters" element="tns:consultquestaoResponse"/>
</message>
<message name="updatequestao">
<part name="parameters" element="tns:updatequestao"/>
</message>
<message name="updatequestaoResponse">
<part name="parameters" element="tns:updatequestaoResponse"/>
</message>
<message name="updatealternativa">
<part name="parameters" element="tns:updatealternativa"/>
</message>
<message name="updatealternativaResponse">
<part name="parameters" element="tns:updatealternativaResponse"/>
</message>
<message name="updateusuario">
<part name="parameters" element="tns:updateusuario"/>
</message>
<message name="updateusuarioResponse">
<part name="parameters" element="tns:updateusuarioResponse"/>
</message>
<message name="consultcorrecao">
<part name="parameters" element="tns:consultcorrecao"/>
</message>
<message name="consultcorrecaoResponse">
<part name="parameters" element="tns:consultcorrecaoResponse"/>
</message>
<portType name="ProvaWebService">
<operation name="allquestao">
<input wsam:Action="http://webservice/ProvaWebService/allquestaoRequest" message="tns:allquestao"/>
<output wsam:Action="http://webservice/ProvaWebService/allquestaoResponse" message="tns:allquestaoResponse"/>
</operation>
<operation name="createusuario">
<input wsam:Action="http://webservice/ProvaWebService/createusuarioRequest" message="tns:createusuario"/>
<output wsam:Action="http://webservice/ProvaWebService/createusuarioResponse" message="tns:createusuarioResponse"/>
</operation>
<operation name="consultalternativas">
<input wsam:Action="http://webservice/ProvaWebService/consultalternativasRequest" message="tns:consultalternativas"/>
<output wsam:Action="http://webservice/ProvaWebService/consultalternativasResponse" message="tns:consultalternativasResponse"/>
</operation>
<operation name="createalternativa">
<input wsam:Action="http://webservice/ProvaWebService/createalternativaRequest" message="tns:createalternativa"/>
<output wsam:Action="http://webservice/ProvaWebService/createalternativaResponse" message="tns:createalternativaResponse"/>
</operation>
<operation name="createquestao">
<input wsam:Action="http://webservice/ProvaWebService/createquestaoRequest" message="tns:createquestao"/>
<output wsam:Action="http://webservice/ProvaWebService/createquestaoResponse" message="tns:createquestaoResponse"/>
</operation>
<operation name="consultquestao">
<input wsam:Action="http://webservice/ProvaWebService/consultquestaoRequest" message="tns:consultquestao"/>
<output wsam:Action="http://webservice/ProvaWebService/consultquestaoResponse" message="tns:consultquestaoResponse"/>
</operation>
<operation name="updatequestao">
<input wsam:Action="http://webservice/ProvaWebService/updatequestaoRequest" message="tns:updatequestao"/>
<output wsam:Action="http://webservice/ProvaWebService/updatequestaoResponse" message="tns:updatequestaoResponse"/>
</operation>
<operation name="updatealternativa">
<input wsam:Action="http://webservice/ProvaWebService/updatealternativaRequest" message="tns:updatealternativa"/>
<output wsam:Action="http://webservice/ProvaWebService/updatealternativaResponse" message="tns:updatealternativaResponse"/>
</operation>
<operation name="updateusuario">
<input wsam:Action="http://webservice/ProvaWebService/updateusuarioRequest" message="tns:updateusuario"/>
<output wsam:Action="http://webservice/ProvaWebService/updateusuarioResponse" message="tns:updateusuarioResponse"/>
</operation>
<operation name="consultcorrecao">
<input wsam:Action="http://webservice/ProvaWebService/consultcorrecaoRequest" message="tns:consultcorrecao"/>
<output wsam:Action="http://webservice/ProvaWebService/consultcorrecaoResponse" message="tns:consultcorrecaoResponse"/>
</operation>
</portType>
<binding name="ProvaWebServicePortBinding" type="tns:ProvaWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="allquestao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createusuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultalternativas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createalternativa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createquestao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultquestao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatequestao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatealternativa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateusuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultcorrecao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProvaWebService">
<port name="ProvaWebServicePort" binding="tns:ProvaWebServicePortBinding">
<soap:address location="http://localhost:8080/Prova/ProvaWebService"/>
</port>
</service>
</definitions>